<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

<!-- 	激活注解，代理模式 -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<bean class="com.daodaofun.Employee" id="employee">
		<property name="name" value="王菲"/>
	</bean>
	
	<bean class="com.daodaofun.aspect.EmployeeAspectBefore" id="employeeAspectBefore">
	</bean>
	
	<bean class="com.daodaofun.aspect.EmployeeAspectAfter" id="employeeAspectAfter">
	</bean>
	
	<bean class="com.daodaofun.aspect.EmployeeAspectReturnning" id="employeeAspectReturnning">
	</bean>
	
	<bean class="com.daodaofun.aspect.EmployeeAspectThrowIng" id="employeeAspectThrowIng">
	</bean>
	
	<bean class="com.daodaofun.aspect.EmployeeAspectAround" id="employeeAspectAround">
	</bean>
	
	
<!-- 	xml配置AOP的方式 -->
	<bean class="com.daodaofun.aspect.XmlAspectDemo" id="xmlAspectDemo">
	</bean>
	
	<aop:config>
		<aop:aspect ref="xmlAspectDemo" id="xmlAspectDemoAspectId">
			<aop:pointcut expression="execution(public String getName())" id="getNamePointcut"/>
			<aop:around method="aroundAdvice" pointcut-ref="getNamePointcut"/>
		</aop:aspect>
	</aop:config>
</beans>
